:root {
    --ani-time: 0.6s;
  }

* {
    margin: none;
    padding: none;
    font-family: 'Determination Mono';
    font-smooth: never;
    -webkit-font-smoothing : none;
}

html {
    height: 100%;
}
body {
    background-color: black;
}

p {
    color: white;
    max-width: 400px;
    transition: var(--ani-time);
}

input {
    font-size: 20px;
    color: white;
    background-color: black;
    border: none;
    margin-top: 80px;
    outline: solid 1px yellow;
    max-width: 600px;
    width: 100%;
    min-width: 300px; 
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

b {
    color: yellow;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}

.title {
    color: yellow;
    font-size: 32px;
    transition: var(--ani-time);
}

.title:hover {
    cursor: pointer;
    color: white;
    transition: var(--ani-time);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    width: 100%;
    min-width: 300px; 
    height: auto;
    padding: 40px 0px 40px 0px;
    border: solid 1px yellow;
    margin-top: 50px;
}

#text {
    text-align: center;
    font-size: 20px;
    margin: 0px 20px 0px 20px;
}

.hoverme {
    color: black;
    transition: var(--ani-time);
}

.hoverme:hover {
    cursor: pointer;
    color: white;
    transition: var(--ani-time);
}

.hoverme:active {
    color: white;
    transition: var(--ani-time);
}

#bottom {
    margin-top: 40px;
    text-align: center;
}

#hrt:hover {
    color: red;
}
