/** Imported font from https://www.behance.net/gallery/31268855/Determination-Better-Undertale-Font **/
@font-face {
  font-family: "Determination Mono";
  src: url("../misc/Determination.ttf") format("truetype");
}

@keyframes deathAni {
  0% {
    color: black;
    opacity: 100%;
  }
  25% {
    color: red;
    opacity: 50%;
  }
  50% {
    color: black;
    opacity: 100%;
  }
  75% {
    color: red;
    opacity: 50%;
  }
  100% {
    color: black;
    opacity: 100%;
  }
}

@keyframes rainbow {
  from {
    color: #6666ff;
    opacity: 100%;
  }
  10% {
    color: #0099ff;
    opacity: 50%;
  }
  50% {
    color: #00ff00;
    opacity: 100%;
  }
  75% {
    color: #ff3399;
    opacity: 50%;
  }
  100% {
    color: #6666ff;
    opacity: 50%;
  }
}

::selection {
  background-color: black;
}
* {
  margin: none;
  padding: none;
  font-family: "Determination Mono";
  font-smooth: never;
  -webkit-font-smoothing: none;
}

html {
  height: 100%;
}
body {
  background-color: black;
}

p {
  color: white;
  max-width: 560px;
}

input {
  font-size: 20px;
  color: white;
  background-color: black;
  border: none;
  margin-top: 80px;
  margin-bottom: 40px;
  outline: solid 1px yellow;
  max-width: 600px;
  width: 100%;
}

a {
  font-size: 28px;
  color: yellow;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

b {
  color: yellow;
}

.wrapper {
  justify-content: center;
  height: 97vh;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  color: yellow;
  font-size: 32px;
  transition: var(--ani-time);
  margin-top: none;
}

.title:hover {
  cursor: pointer;
  color: white;
  transition: var(--ani-time);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  width: 100%;
  padding: 20px 0px 40px 0px;
  border: solid 1px yellow;
  margin-top: 20px;
}

#text {
  text-align: center;
  font-size: 20px;
  margin: 0px 20px 0px 20px;
}

.hoverme {
  color: black;
  transition: var(--ani-time);
}

.hoverme:hover {
  cursor: pointer;
  color: white;
  transition: var(--ani-time);
}

.hoverme:active {
  color: white;
  transition: var(--ani-time);
}

.red {
  color: red;
  animation-name: deathAni;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

#bottom {
  margin-top: 40px;
  text-align: center;
}

#hrt:hover {
  color: red;
}

#creds {
  font-size: 12px;
}

.play {
  color: green;
}

@media screen and (max-height: 600px) {
  input {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .container {
    margin-top: 20px;
  }
}

@media screen and (max-width: 720px) {
  input {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .container {
    margin-top: 20px;
  }
}

.egg {
  position: relative;
  font-size: 12px;
  height: 14px;
  margin-top: 20px;
  bottom: 0;
  animation-name: rainbow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  margin-bottom: 20px;
}

